.wrapper {
    min-height: 100vh;
    height: 100vh;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
}

.wrapper::-webkit-scrollbar {
    width: 1px;
    /* Chrome, Safari, Edge */
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 6px;
}

.wrapper::-webkit-scrollbar-track {
    background-color: lightgray;
}

.userDetails {
    padding: 1rem;
    background-color: rgba(256, 256, 256, 0.8);
    border-bottom: solid 2px #333;
    display: flex;
    justify-content: space-between;
}

.ticketInfo {
    flex: 1;
}

.customerInfo {
    flex: 1;
    margin-left: 1rem; /* Adjust spacing between ticket info and customer info */
}

.userDetails h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.userDetails h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.userDetails p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.userDetails p:last-child {
    margin-bottom: 0; /* Remove margin for the last paragraph */
}

.statusDropdown {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.statusDropdown label {
    margin-right: 0.5rem;
}

.statusDropdown select {
    padding: 0.25rem;
    font-size: 1rem;
}

.messageList {
    flex: 1;
    overflow-y: scroll;
    padding: 1rem;
}

.messageList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.messageBox {
    display: flex;
    width: 100%;
    background-color: rgba(256, 256, 256, 0.8);
    padding: 1rem;
}

.messageBox textarea {
    flex: 1;
    padding: 1rem;
    font-size: 1.25rem;
}

.messageBox button {
    margin-left: 0.5rem;
    background-color: #4FCDFF;
    font-size: 1.25rem;
}

.message {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: solid 2px #333;
    font-size: 1.25rem;
    background-color: rgba(256, 256, 256, 0.8);
}

.messageInner {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.messageSender {
    color: #333;
    font-size: 0.75rem;
}

.messageBody {
    word-wrap: break-word;
}